*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #282828;
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #dbd6d6;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}
.todo-app h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}
.row button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ab25aa;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
}
#tasks-container li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    user-select: none;
    background-color: #e3b9e3;
    width: 100%;
    font-size: 17px;
    padding: 10px 8px 10px 25px;
    margin: 25px 0px;
    border-radius: 30px;
}
#tasks-container li h4{
    flex: 1;
}
#tasks-container li button{
    text-decoration: none;
    background: transparent;
    border: none;
    font-size: 17px;
    color: #6f176e;
    padding: 10px;
    margin-right: 10px;
}
#tasks-container li button:hover{
    color: red;
}
